ml/models/
ml/dataset/
ml/notebooks/
clienttest/data/
zama_models/
.venv/
.artifacts/
.idea/
.vscode/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.antigravityignore
indexed100.json
pyproject.toml
screeplot_large.png
